* {
    margin: 0px
}

body {
    background-color: #111;
}

.palette {
    margin: 400px 0px 0px 0px;
    width: 100%;
    height: 110px;
    border: 10px solid feeafa;
    border-radius: 10px;
    justify-items: center;
    display: flex;
}

.palette1 {
    background-color: #03071e;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette2 {
    background-color: #370617;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette3 {
    background-color: #6a040f;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette4 {
    background-color: #9d0208;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette5 {
    background-color: #d00000;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette6 {
    background-color: #dc2f02;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette7 {
    background-color: #e85d04;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette8 {
    background-color: #f48c06;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette9 {
    background-color: #faa307;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}

.palette10 {
    background-color: #ffba08;
    width: 10%;
    height: 100px;
    border: 5px solid #555
}